talos-cluster-b-talos-master-01.yaml
talos-cluster-b-talos-master-02.yaml
talos-cluster-b-talos-master-03.yaml
talos-cluster-b-talos-worker-01.yaml
talos-cluster-b-talos-worker-02.yaml
talos-cluster-b-talos-worker-03.yaml
talosconfig
clB-cluster-b-clB-cp01.yaml
clB-cluster-b-clB-cp02.yaml
clB-cluster-b-clB-cp03.yaml
clB-cluster-b-clB-wk01.yaml
clB-cluster-b-clB-wk02.yaml
clB-cluster-b-clB-wk03.yaml
clC-cluster-c-clC-cp01.yaml
clC-cluster-c-clC-cp02.yaml
clC-cluster-c-clC-cp03.yaml
clC-cluster-c-clC-wk01.yaml
clC-cluster-c-clC-wk02.yaml
clC-cluster-c-clC-wk03.yaml
